Functional Requirements
-Request ride
    -input source and destination
    -output ride details (nearby drivers ,estimated time of arrival, fare estimate)
-Ride Matching
    -match rider with driver
-Driver Tracking
    -track driver location in real-time
-Push Notifications
    -notify rider when driver is nearby
    -notify driver when ride is requested
    -notify rider when ride is completed


Non Functional Requirements
-Scalability
    -system should handle 100m+ concurrent users
-Performance
    -latency should respond to ride requests in under 2 seconds
-Reliability
    -system should have 99.9% uptime
-Data Security
    -user data should be encrypted
    -payment information should be securely stored


Future Enhancements
-Integration with public transport
    -allow users to book rides that connect with public transport
-Enhanced Driver Features
    -provide drivers with navigation assistance
-User Feedback System
    -allow users to rate drivers and provide feedback
In-app Chat
    -allow riders and drivers to communicate within the app


